---
layout: default
---

{% assign blogPosts = site.posts | where: 'categories', 'featured' %}
<!-- 'featured' category posts -->
<section class="cf w-100 pa2 pa4-ns">
<h1 class="fw1 light-gray f4 pv0">Featured</h1>
{% for item in blogPosts limit:1 %}
<article class="fl w-100 w-50-l">
  <a href="{{ site.url }}{{ item.url }}" class="ph2 ph0-ns pb3 link db">
    <h3 class="f4 f2-ns mb0 black-90">{{ item.title }}</h3>
    <h3 class="f6 f5 fw1 mt3 mb3 black-40">{{ item.source_blog_name }}</h3>
    <div class="aspect-ratio aspect-ratio--16x9">
      <img style="background-image:url({{ site.url }}{{ item.feature-img }});"
      class="db bg-center cover aspect-ratio--object" />
    </div>
  </a>
</article>
{%endfor%}
</section>

{% assign blogPosts = site.posts | where: 'categories', 'highlighted' %}
<!-- 'featured' category posts -->
<section class="fl w-100 bb b--light-gray">
<h1 class="fw1 light-gray f4 pv0">Highlighted</h1>
{% for item in blogPosts limit:4 %}
<div class="fl w-100 w-50-m w-25-l pa3-m pa4-l">
  <a href="{{ site.url }}{{ item.url }}" class="ph2 ph0-ns pb3 link db black">
    <h3 class="f4 f3-ns mb0 black-90">{{ item.title }}</h3>
    <h3 class="f6 f5 fw1 mt3 mb3 black-40">{{ item.source_blog_name }}</h3>
    <p>{{ item.excerpt }}</p>
  </a>
</div>
{%endfor%}
</section>

<!-- <section class="cf w-100 pa2 pa4-ns">
<h1 class="fw1 light-gray f3">Books</h1>
{% assign books = site.books | sort: "date" | reverse %}
 {% for book in books %}
  <article class="fl w-50 w-10-ns w-10-s w-25-m w-10-l pa2-ns">
    <a href="{{ book.url | prepend: site.baseurl }}" title="{{ book.title }}">
    <div class="aspect-ratio aspect-ratio--5x8">
      <img style="background-image:url({{ site.url }}{{ book.cover }});"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    </a>
  </article>
 {% endfor %}
</section> -->

<!-- All posts -->
<!-- <div class=" pa2 pa4-ns">
    {% for post in site.posts %}
      <article class="lh-copy bb b--light-gray pv3">
         <h2 class="f4 measure "><a class="link black" href="{{ post.url }}">{{ post.title }}</a></h2>
        <span class="black-30 fw1 f7"><a class="black" href="/authors/{{ post.author | replace: ' ', '-' | downcase }}">{{ post.author }}</a> | {{ post.date | date_to_string }}</span>
      </article>
    {% endfor %}
</div> -->
