---
layout: default
title: cf-news
---
{% assign blogPosts = site.posts | where: 'categories', 'featured' %}
{% for item in blogPosts %}
<article>
  <a href="https://geo.itunes.apple.com/us/movie/primer/id536457427?at=1l3vqFJ&ct=1l3vqFJ&mt=6" class="fl w-50 w-25-l link overflow-hidden">
    <div role="img" aria-label="Primer movie" class="grow aspect-ratio--8x5 " style="background: url({{site.url}}{{item.source_image_url}}) no-repeat center center; background-size: cover;">
      <h1 class="white pa3">{{ item.title }}</h1>
    </div>
  </a>
</article>
{%endfor%}



{% assign blogPosts = site.posts | where: 'categories', 'featured' %}
<section class="cf w-100">
{% for item in blogPosts %}
  <article class="fl w-100 w-50-m w-25-ns">
    <div class="aspect-ratio aspect-ratio--16x9">
      <img style="background-image:url({{site.url}}{{item.source_image_url}});"
      class="db bg-center cover aspect-ratio--object" />
    </div>
    <a href="#0" class="ph2 ph0-ns pb3 link db">
      <h3 class="f5 f4-ns mb0 black-90">{{item.title}}</h3>
      <h3 class="f6 f5 fw4 mt2 black-60">{{ item.source_blog_name }}</h3>
      <p>{{ item.date }}</p>
    </a>
  </article>
{%endfor%}
</section>

<div class="pa1 pa4-ns">
  <ul class="list">
    {% for post in site.posts %}
      <li class="lh-copy bb b--light-gray pv3">
         <h2 class="f4  measure fw3"><a class="black link" href="{{ post.url }}">{{ post.title }}</a></h2>
        <span class="light-gray fw1"><a class="orange" href="/authors/{{ post.author | replace: ' ', '-' | downcase }}">{{ post.author }}</a> | {{ post.date | date_to_string }}</span>
      </li>
    {% endfor %}
  </ul>
</div>
