---
layout: default
title: cf-news
---

<div class="pa3 pa4-ns">
<h3>tags</h3>
  <ul class="">
    {% assign sorted_tags = site.tags | sort %}
    {% for tag in sorted_tags %}
      {% assign t = tag | first %}
      {% assign posts = tag | last %}
      <li class="blog-tag-item" id="{{ t }}-item">
        <a href onclick="filter('{{ t }}'); return false;">{{ t }}</a>
      </li>
    {% endfor %}
  </ul>

<h3>cats</h3>
  <ul class="">
    {% assign sorted_categories = site.categories | sort %}
    {% for category in sorted_categories %}
      {% assign c = category | first %}
      {% assign posts = category | last %}
      <li class="blog-category-item" id="{{ c }}-item">
        <a href onclick="filter('{{ c }}'); return false;">{{ c }}</a>
      </li>
    {% endfor %}
  </ul>


</div>
