{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<ul class="list">
  {% if author %}
  <li class="lh-copy pv4"><span>
     <a class="black link f3" href="{{ post.url }}">{{ post.title }}</a><br>
    <a class="fw1" href="/authors/{{ post.author | replace: ' ', '-' | downcase }}">{{ post.author }}</a> | {{ post.date | date_to_string }}</span>
    {{ post.categories }} {{ post.tags }}
  </li>
  {% endif %}
</ul>
