{% if post.author %}
  {% assign author = post.author %}
{% elsif page.author %}
  {% assign author = page.author %}
{% else %}
  {% assign author = site.author %}
{% endif %}


<ul class="list">
  {% if author %}
    <li class="lh-copy bb b--light-gray pv3">
       <a class="black link f4 fw3" href="{{ post.url }}">{{ post.title }}</a><br>
      <span class="light-gray fw1"><a class="orange" href="/authors/{{ post.author | replace: ' ', '-' | downcase }}">{{ post.author }}</a> | {{ post.date | date_to_string }}</span>
    </li>
  {% endif %}
</ul>
