<footer class="">

<div class="pa5 bt bb b--black-10">
  <h1 class="f4 fw1 light-gray pt0">Advertisment</h1>
    <!-- BEGIN LINK --><a href="https:&#x2F;&#x2F;www.namecheap.com&#x2F;?aff=110718"><img src="http:&#x2F;&#x2F;files.namecheap.com&#x2F;graphics&#x2F;linkus&#x2F;728x90-1.gif" width="728" height="90" border="0" alt="Namecheap.com"></a><!-- END LINK -->
</div>

<div class="pa5 bb b--black-10">
  <p class="f6 db b ttu lh-solid">© {{ site.time | date: '%Y' }} {{ site.name }}</p>
  <div class="mt5">
    <a class="f6 dib pr2 mid-gray dim" target="_blank" href="https://www.patreon.com/codefurniture" title="Support">Support</a>
    <a href="/tos.html" title="Terms" class="f6 dib ph2 mid-gray dim">Terms of Use</a>
    <a href="/privacy.html" title="Privacy" class="f6 dib pl2 mid-gray dim">Privacy</a>
  </div>
</div>

</footer>
