<footer class="">

<div class="pa5 bt bb b--black-10">
  <h1 class="f4 fw1 light-gray pt0">Advertisment</h1>
  <p class="fw1">Make America Great Again<br> with <em class="black fw4">$0.88 .US</em> domain names<br> at
  <a href="https://affiliate.namecheap.com/?affId=110718">NameCheap</a>.</p>
  <!-- <a href="https://www.namecheap.com/domains/registration/results.aspx?domain=dudes.us">dudes.us</a> -->
</div>

<div class="pa5 bb b--black-10">
  <p class="f6 db b ttu lh-solid">© {{ site.time | date: '%Y' }} {{ site.name }}</p>
  <div class="mt5">
    <a class="f6 dib pr2 mid-gray dim" target="_blank" href="#" title="Support">Support</a>
    <a href="#" title="Terms" class="f6 dib ph2 mid-gray dim">Terms of Use</a>
    <a href="#" title="Privacy" class="f6 dib pl2 mid-gray dim">Privacy</a>
  </div>
</div>

</footer>
