<footer id="site_footer" class=" pa2 pa4-ns">

<div class="bt b--light-gray pv4">
  <h1 class="f4 fw1 light-gray pt0">Advertisment</h1>
  <p class="fw1"><span class="black fw4">$0.88 .US</span> domain names at
  <a href="https://affiliate.namecheap.com/?affId=110718">NameCheap</a>.</p>
  <!-- <a href="https://www.namecheap.com/domains/registration/results.aspx?domain=dudes.us">dudes.us</a> -->
</div>

<div class="pt4 bt b--light-gray">
  <p class="f6 db b ttu lh-solid">© {{ site.time | date: '%Y' }} {{ site.name }}</p>
</div>

</footer>
