<nav class="db dt-l w-100 border-box pa3 ph5-l">
  <a class="db dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="/" title="Home">
    <h1 class="fw1 f4 light-gray">{{ site.name }} | <span class="black hover-white">{{ page.author }}</span></h1>
  </a>
  <div class="db dtc-l v-mid w-100 w-75-l tc tr-l">

    <a class="link dim dark-gray f6 fw1 f5-l dib mr3 mr4-l" href="{{ book.url | prepend: site.baseurl }}/bookmarks" title="Bookmarks">
      {% octicon bookmark height:16 class:"right left" aria-label:hi %}
    </a>
    <a class="link dim dark-gray f6 fw1 f5-l dib mr3 mr4-l" href="{{ book.url | prepend: site.baseurl }}/about" title="About">About</a>
    <a class="link dim dark-gray f6 fw1 f5-l dib mr3 mr4-l" href="{{ book.url | prepend: site.baseurl }}/books" title="About">Books</a>
  </div>
</nav>
