---
layout: default
footer: false
---

<div id="blog-archives" class="author pa3 pa5-ns">
	<header class="vh-100 bg-light-pink dt w-100">
    <div
      style="background:url(http://mrmrs.io/photos/display.jpg) no-repeat center right;background-size: cover;"
      class="dtc v-mid cover ph3 ph4-m ph5-l">
      <h1 class="f2 f-subheadline-l measure lh-title fw9">A Night Taking Photos at San Francisco’s Spooky Ruins of the Sutro Baths</h1>
      <h2 class="f6 fw6 black">{{ page.author }}</h2>
			      <h2 class="f6 fw6 black">{{ page.feed }}</h2>
    </div>
  </header>

	{% assign index = true %}
        {% for post in site.posts %}
          {% if post.author contains page.author %}

            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% unless year == this_year %}
              {% assign year = this_year %}
              <h2>{{ year }}</h2>
            {% endunless %}

            {% assign content = post.content %}
	    <article>
  	      {% include archive_post.html %}
	    </article>
          {% endif %}
	{% endfor %}
</div>
