---
layout: default
---
<section class="cf w-100 pa2 pa4-ns">
<article class="fl w-100 w-50-m  w-30-ns pa2-ns">
  <div class="aspect-ratio aspect-ratio--5x8">
    <img style="background-image:url({{ site.url }}{{ page.cover }});"
    class="db bg-center cover aspect-ratio--object" />
  </div>
</article>
<article class="fl w-100 w-50-m  w-50-ns pa2-ns">
  <header class="bb b--black-70 pv4">
    <h3 class="f3 f2-ns f3-m f4-l fw7 ttu tracked lh-title mt0 mb3 avenir">{{ page.title }}</h3>
    <h4 class="f3 fw4 i lh-title mt0">{{ page.author }}</h4>
    <p><a class="f6 fw4 no-underline blue br2 dib pv2 ph3 ba b--blue" href="{{ page.book-link }}" target="_blank"><i class="fa fa-amazon" aria-hidden="true"></i> Purchase</a></p>
  </header>
  <section class="pt5 pb4">
    <p class="lh-copy measure  mt0">
      {{ page.body }}
    </p>
  </section>
</article>
</section>
