---
layout: default
---

<!-- Altright Layout:  -->

<article class="cf bt b--light-gray">
  <div class="fl w-100 w-50-ns bg-near-white">
    <a href="{{ page.source_post_url }}" data-iframely-url></a>
    <!-- {{ content }} -->
  </div>
  <div class="fl w-100 w-50-ns bl b--light-gray">
    <div class="pa5">
      <p class="light-gray f3">{{ page.date | date_to_string }}</p>
    	<h1 class="f3 f1-ns">{{ page.title }}</h1>
      <p><a class="link gray" href="{{ page.source_post_url }}">- {{ page.source_blog_name }}</a></p>
      {{ page.content | strip_html | truncatewords:150 }}
    </div>
  </div>
</article>
