---
layout: default
---

<div class="pa3 pa5-ns mw-7 bb b--black-10">
Via: <a href="{{ page.source_link }}" target="_black">{{ page.author }}</a>{{ blog_url }}
  <p class="">{{ page.date | date_to_string }}</p>
	<h1 class="f3 f1-ns">{{ page.title }}</h1>


{{ page.categories }}

  <div class="">

<a class="light-gray" href="{{ page.source_link }}" target="_black">{{ page.source_link }}</a><br>
{{ page.twitter }}<br>
{{ page.twitter_url }}

  </div>


<!--
{{ page.source_link }}
{{ page.post_title }}<br>
{{ page.post_url }}<br>
{{ page.post_date }}<br>
{{ page.post_content }}<br>
{{ page.blog_name }}<br>
{{ page.blog_slug }}<br>
{{ page.blog_url }}<br>
{{ page.blog_categories }}<br>
{{ page.blog_tags }}<br>
{{ page.image_url }}<br>
{{ page.author }}<br>
{{ page.twitter }}<br>
{{ page.twitter_url }}
-->


</div>
