---
layout: default
---

<article class="cf bt b--light-gray">
  <div class="fl w-100 w-50-ns bg-near-white">
    <!-- <a href="{{ page.source_post_url }}" data-iframely-url></a> -->
    <!-- {{ content }} -->
  </div>
  <div class="fl w-100 w-50-ns bl b--light-gray">
    <div class="pa5">
      <p class="light-gray f3">{{ page.date | date_to_string }}</p>
    	<h1 class="F1 f3 f1-ns">{{ page.title }}</h1>
      <p><a class="link gray" href="{{ page.source_post_url }}">{{ page.source_blog_name }}</a></p>

      <div id="" clas="">
      {{ page.content | strip_html | truncatewords:150 }}
      </div>

    </div>
  </div>
</article>

    <!-- page.post_title: {{ page.title }}<br>
    page.post_url: {{ page.source_post_url }}<br>
    page.blog_name: {{ page.source_blog_name }}<br>
    page.blog_slug: {{ page.source_blog_slug }}<br>
    page.blog_url: {{ page.source_blog_url }}<br>
    page.blog_categories: {{ page.categories }}<br>
    page.tags: {{ page.tags }}<br>
    page.image_url: {{ page.source_image_url }}<br>
    page.author: {{ page.author }}<br>
    page.twitter: {{ page.source_twitter }}<br>
    page.twitter_url: {{ page.source_twitter_url }}
   -->
